@import '../../styles/colors';

.content {
  width: 50%;
  max-width: 50%;
  padding: 5%;
}

.title {
  font-size: 2em;
  font-weight: 500;
  color: $secondary-color;
  margin: 0 0 40px 0;
}

.skills {
  width: 100%;
}