@import '../../styles/_colors.scss';

.container {
  margin-bottom: 30px;
}

.button {
  background-color: $secondary-color;
  color: white;
  border: none;
  transition: 0.3s;

  &:hover {
    border: none;
    background-color: $secondary-color-dark;
  }

  &:focus {
    outline: 4px auto $secondary-color-dark;
  };
}