@import '../../styles/_colors.scss';

.header {
  background-color: $light-color;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.aboutContent {
  padding: 10% 0 5% 5%;
  max-width: 30%;
}

.about {
  margin-bottom: 30px;
}

.name {
  color: $base-color;
}

.button {
  border-radius: 30px;
  background-color: $secondary-color;
  color: white;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color-dark;
  }

  &:focus,
  button:focus-visible {
    outline: 4px auto $secondary-color-dark;
  };
}