@import '../../styles/colors';

.skill {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  line-height: 0.9em;
  color: $base-color;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.progressLabel {
  font-size: 0.8em;
  font-weight: 500;
  color: $base-color;
}

.progress {
  display: flex;
  span {
    border-radius: 3px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $secondary-color;
    margin: 0 2px;

    &:last-child {
      margin-right: 0;
    }
  }
}