@import '../../styles/colors';

.container {
  background-color: $base-color;
  height: 60px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-color;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}