@use '../../styles/animations';
@import '../../styles/colors';

.content {
  width: 50%;
  max-width: 50%;
  padding: 5%;
  box-sizing: border-box;

  @media screen and (max-width: 495px) {
    width: 100%;
    max-width: 100%;
    background-color: $base-color;
    color: $light-color;
  }
}

.title {
  font-size: 2em;
  font-weight: 500;
  color: $secondary-color;
  margin: 0 0 40px 0;
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    border: 2px solid $base-color;
    position: absolute;
    width: 50%;
    bottom: -70%;
    left: 0;
    @include animations.horizontal-bar;

    @media screen and (max-width: 495px) {
      display: none;
    }
  }
}

.text {
  margin-bottom: 0;
}